<div id="app container">
  <div class="col-md-12">
    <h1>RepConnect</h1>
  </div>
  <nav class="navbar">
    <div class="col-md-6">
      <saved
      locations="ctrl.locations"
      civic-info="ctrl.civicInfo"
      handle-data="ctrl.handleData">
      </saved>
    </div>
    <div class="col-md-6">
      <search
      civic-info="ctrl.civicInfo"
      handle-data="ctrl.handleData"
      saved-locs="ctrl.savedLocs"
      handle-locs="ctrl.handleLocs">
      </search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <rep-profile selected="ctrl.selected" office="ctrl.selectedOffice"></rep-profile>
    </div>
    <div class="col-md-6">
      <rep-list offices="ctrl.offices" officials="ctrl.officials" handle-click="ctrl.handleClick"></rep-list>
    </div>
  </div>
</div>