<div id="app container" ng-controller="AppCtrl">
  <div>
    <h1>RepConnect</h1>
  </div>
  <nav class="navbar">
    <div class="col-md-6">
      <user></user>
    </div>
    <div class="col-md-6">
      <search civic-info="ctrl.civicInfo" handle-data="ctrl.handleData"></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <rep-profile selected="ctrl.selected" office="ctrl.selectedOffice"></rep-profile>
    </div>
    <div class="col-md-6">
      <rep-list offices="ctrl.offices" officials="ctrl.officials" handle-click="ctrl.handleClick"></rep-list>
    </div>
  </div>
</div>