.thumb {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile {
  width: 27rem;
  height: 36rem;
  object-fit: cover;
}

.rep-list, #app {
  height: 80vh;
  overflow-y: scroll;
}